html{
    scroll-behavior: auto;
}
.main {
    /* background-image: url(../public/WhatsApp\ Image\ 2025-04-02\ at\ 12.19.45_51838481.jpg); */
    background-size: 100%;
}
/* .dogfood{
    background-image: url(../public/WhatsApp\ Image\ 2025-04-02\ at\ 13.04.24_6a24cd23.jpg);
    background-size: 100%;
} */
/* .dognofood{
    background-image: url(../public/WhatsApp\ Image\ 2025-04-02\ at\ 13.04.17_bf760103.jpg);
    background-size: 100%;
} */
.btn:hover{
    background-color: rgb(4, 51, 4);
    
}